/*  your css code here. If applicable */
#f{
	font-family:Sans-serif;
	font-color:#00f;
	background-color:#eee;
	color:blue;
}



#t{
	font-family:Sans-serif;
	font-color:#00f;
	background-color:#eee;
	color:blue;
}